The first thing you need to know to use Altair is read this paper ..

http://vita.had.co.nz/papers/tidy-data.pdf

# Altair Example for Plot 1 of the Challenge

First we need to import our dependencies, note that `bokeh` is only required since it's the source for the data (see the example `altair-plot1-variant.ipynb` for an `altair` only example).

In [5]:
import altair as alt
import bokeh
import numpy as np
import pandas as pd

Next, if you haven't already downloaded the `bokeh` sample data on your computer, you will need to uncomment the following line and run it.

In [10]:
#bokeh.sampledata.download()

Now lets take a look at the sample data:

In [7]:
from bokeh.sampledata import stocks

index = pd.DatetimeIndex(stocks.AAPL['date'])
stock_df = pd.DataFrame({'IBM': stocks.IBM['close'], 'AAPL': stocks.AAPL['close']}, index=index)
stock_df.head()

               IBM    AAPL
2000-03-01  100.25  130.31
2000-03-02  103.12  122.00
2000-03-03  108.00  128.00
2000-03-06  103.06  125.69
2000-03-07  103.00  122.87

## Compare Two Timeseries Datasets

In [8]:
stock_df.head()

               IBM    AAPL
2000-03-01  100.25  130.31
2000-03-02  103.12  122.00
2000-03-03  108.00  128.00
2000-03-06  103.06  125.69
2000-03-07  103.00  122.87